.show
  .title
    =@winner.activity_name
  %h2
    比赛结果
  %h3
    -if @have_winner
      %p
        获胜者：
        =@winner.user_name
      %p
        出价：
        =@winner.price
        元
      %p
        电话：
        =@winner.phone
    - if @no_winner
      竞价失败




