%ol.breadcrumb
  %li
    =link_to "首页",welcome_path
  %li
    =link_to "竞价列表",bid_list_path(:activity_name=>params[:activity_name],:current_user => params[:current_user])
  %li.active
    第
    =params[:bid_id]
    次竞价
.panel.panel-default
  %ul.nav.nav-tabs.nav-justified#myTab
    %li.active
      %a{:href => "#list" } 出价列表
    %li
      %a{:href => "#"} 价格统计
  .tab-content
    -#.tab-pane.active#list
    -#  %table.table
    -#    %thead
    -#      %tr
    -#        %th
    -#        %th 编号
    -#        %th 姓名
    -#        %th 价格/元
    -#        %th 手机号
    -#    %tbody
    -#      -a = 1
    -#      - @bid_messages.each do |bid_message|
    -#        %tr
    -#          %td
    -#          %td
    -#            =(@page_index.to_i - 1)*10 + a
    -#            - a+=1
    -#          %td
    -#            =bid_message.user_name
    -#          %th
    -#            =bid_message.price
    -#          %td
    -#            =bid_message.phone
    .tab-pane.active#static
      %table.table
        %thead
          %tr
            %th
            %th
            %th 价格/元
            %th
            %th 人数
        %tbody
          - @page_price_static.each do |static|
            %tr
              %td
              %td
              %td
                =static[:price]
              %th
              %td
                =static[:count]
-#.text-right#list_page
-#  = will_paginate @bid_messages, :previous_label=>'&laquo',:next_label=>'&raquo'
.text-right#static_page
  = will_paginate @page_price_static, :previous_label=>'&laquo',:next_label=>'&raquo'
  :javascript
    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
      //$('#list').tab('show')
      //$('#myTab a:last').tab('show')
    })