%ol.breadcrumb
  %li
    =link_to "首页",welcome_path
  %li
    =link_to "竞价列表",bid_list_path(:activity_name=>params[:activity_name],:current_user => params[:current_user])
  %li.active
    第
    =params[:bid_id]
    次竞价
.winner
  -if flash.now[:winner]
    %p
      获胜者：
      =@winner_info.user_name
    %p
      出价：
      =@winner_info.price
      元
    %p
      手机号：
      =@winner_info.phone
  -if flash.now[:no_winner]
    本次竞价无人胜出
.panel.panel-default
  %ul.nav.nav-tabs.nav-justified#myTab
    %li.active
      %a#click_list{:href => "#list" } 出价列表
    %li#click_static
      %a#click_static{:href => "#static"} 价格统计
  .tab-content
    .tab-pane.active#list
      %table.table
        %thead
          %tr
            %th
            %th 编号
            %th 姓名
            %th 价格/元
            %th 手机号
        %tbody
          -a = 1
          - @bid_messages.each do |bid_message|
            %tr
              %td
              %td
                =(@page_index.to_i - 1)*10 + a
                - a+=1
              %td
                =bid_message.user_name
              %th
                =bid_message.price
              %td
                =bid_message.phone
    .tab-pane#static
      %table.table
        %thead
          %tr
            %th
            %th
            %th 价格/元
            %th
            %th 人数
        %tbody
          - @page_price_static.each do |static|
            %tr
              %td
              %td
              %td
                =static[:price]
              %th
              %td
                =static[:count]
#list_page
  .text-right
    llllllll
    = will_paginate @bid_messages, :previous_label=>'&laquo',:next_label=>'&raquo'
#static_page(style="display:none" )
  .text-right
    kkkkkkkkkkk
    = will_paginate @page_price_static, :previous_label=>'&laquo',:next_label=>'&raquo'
:javascript
  $('#myTab a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
    //$('#list').tab('show')
    //$('#myTab a:last').tab('show')
  })
  //$('#click_list').click(function(){
  //    $('#list_page').show()
  //    $('static_page').hide()
  //})