#bidding_messages
  .show
    .title
      =@bidding.activity_name
    %h2
      参与人数：
      #bid_message_count_id
        =@bid_messages_count
      \/
      =@sign_up_messages
  .panel.panel-default(style="margin-top: 50px;" )
    %table.table
      %thead
        %tr
          %th.text-center
            姓名
          %th.text-center
            电话
      %tbody
        - @bid_messages.each do |message|
          %tr
            %th.text-center
              =message.user_name
            %th.text-center
              =message.phone
-#:javascript
  setTimeout("$('#bidding_messages').load('show/#bidding_messages')",3000)
-#=render 'shared/bid_over'