%ol.breadcrumb
  %li
    =link_to "首页",welcome_path
  %li.active 报名列表
.panel.panel-default
  .panel-heading
    .panel-title
      %h4
        报名列表
        %div(style="float:right" )
          %h5
            =link_to "竞价列表"
  %table.table
    %thead
      %tr
        %th
        %th 编号
        %th 姓名
        %th
        %th 手机号
    %tbody
      -a = 1
      - @sign_up_messages.each do |message|
        %tr
          %td
          %td
            =(@page_index.to_i - 1)*10 + a
            - a+=1
          %td
            =message.user_name
          %th
          %td
            =message.phone
.text-right
  = will_paginate @sign_up_messages, :previous_label=>'&laquo',:next_label=>'&raquo'