-if current_user[:user_name]=="admin"
  .panel.panel-default
    .panel-heading
      %h3.panel-title 用户管理
    %table.table
      %thead
        %tr
          %th
          %th 编号
          %th 用户名
          %th
          %th 操作
      %tbody
        .pagination
          - @users.each do |user|
            %tr
              %td
              %td
                =user.id - 30
              %td
                =user.user_name
              %th
              %td
                =link_to "删除"
                =link_to "修改密码"
          = will_paginate