.start{
    background: yellow !important;
}
.form{
    text-align: center;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    background-color: #F0F0F0;
    border-width: 1px;
    border: 1px solid #ccc;
    border-radius: 4px ;
}
.btn-local{
    font-size: 15px;
    width: 150px;
    margin-left: -20px;
    padding: 5px 40px ;
    line-height: 25px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px ;
}