%ol.breadcrumb
  %li
    =link_to "首页",manager_index_path
  %li.active 修改用户密码
.form
  %br
  =form_for :user,url: '/post_change_password' do |f|
    .input-group(style="width:100%" )
      %span.input-group-addon(style="width:25%" )
        账号
      =f.label :user_name,params[:user_name], :class => 'name form-control '
    %br
    .input-group(style="width:100%" )
      %span.input-group-addon(style="width:25%" )
        请设置密码
      =f.password_field :password, :class => 'form-control',:placeholder => '请输入新密码'
    %br
    .input-group(style="width:100%" )
      %span.input-group-addon(style="width:25%" )
        请确认密码
      =f.password_field :password_confirmation, :class => 'form-control',:placeholder => '请再次输入'
    %br
    - if flash[:error]
      .alert.alert-danger
        =flash[:error]
    - if flash.now[:succeed]
      .modal.fade#succeed
        .modal-dialog
          .modal-content
            .modal-header
              %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times
              .modal-title.question_size
            .modal-body
              %div(style='text-align:center')
                %div
                  %h4(style="font-size: 30px")
                    修改成功！
            .modal-footer
              %h4(style="font-size: 30px" )
                %button.btn.btn-default
                  =link_to '确定',manager_index_path
      :javascript
        $('#succeed').modal('show')
    =f.submit '确认修改',:class => 'btn-local'