.form{
    text-align: center;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    background-color: #F8F8F8;
    border-width: 1px;
    border: 1px solid #ccc;
    border-radius: 4px ;
}
.btn-local{
    font-size: 15px;
    margin-left: -20px;
    padding: 5px 40px ;
    line-height: 25px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px ;
}
a:hover {
    text-decoration:none
}
.name{
    background-color: #eee;
    text-align: left;
}
.winner{
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    background-color: #EEEEEE;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: -60px;
    margin-right: -100px;
    padding-left: 60px;
}
.show{
    padding: 70px;
    margin: -25px -60px;
    background-color: #EEEEEE;
    text-align: center;
}
.body{
    clear: both;
}